body {
  margin: 0;
  padding: 8px;
  background: #fff;
  color: #333;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ff3c00;
  margin: auto;
  display: flex;
  justify-content: center;
}

.window-controls {
  margin-bottom: 0.5em;
}
